{{#each this}}
<h2 class="country-title">{{name}}</h2>
<div class="country-box">
<div>
    <p class="country-detail">Capital: <span class="detail">{{capital}}</span></p>
    <p class="country-detail">Population: <span class="detail">{{population}}</span></p>
    <ul class="country-detail">Languages: 
        {{#each languages}}<li class="detail language-detail">{{name}}</li>{{/each}}
    </ul>
</div>
<div>
    <img class="country-flag" src="{{flag}}" alt="flag" width="300">
</div>
</div>
{{/each}}