{{#each this}}
<h2 class="country-title">{{name}}</h2>
<div class="country-box">
<div>
    <p class="country-detail">Capital: <span class="detail">{{capital}}</span></p>
    <p class="country-detail">Population: <span class="detail">{{population}}</span></p>
    <p class="country-detail">Languages: <span class="detail">{{#each languages}} {{name}} {{/each}}</span></p>
</div>
<div>
    <img class="country-flag" src="{{flag}}" alt="flag" width="300">
</div>
</div>
{{/each}}